@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', sans-serif;
}

.hero-landing {
	position: relative;
	min-height: 800px;
}

.img-back {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map {
	object-fit: cover;
	width: 100%;
	height: 100%;
	margin-bottom: 80px;
}

.background-overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg,rgba(0,0,0,.35),rgba(0,0,0,.05));
}

.landing-heading {
	position: absolute;
	top: 40%;
	left: 10%;
	color: #fff;
}

.heading1 {
	font-size: 5rem !important;
}

.heading2 {
	margin-top: 30px;
	font-size: 35px;
	font-weight: 500;
}

.landing-left {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 170px;
	height: 400px;
}

.landing-right {
	position: absolute;
	top: 150px;
	right: 0;
	width: 120px;
	height: 1014px;
}

.main-section {
	margin: 120px 0;
	position: relative;
}

.main-section:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: -20px;
    width: 300px;
    height: 430px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/ZooManagement/resources/images/pricing-table-left.png);
    background-position: 0 50%;
}

.pricing-tabel__inner {
	margin: 0 4.25rem;
	max-width: 75rem;
	display: flex;
	flex-flow: row wrap;
	position: relative;
}

.pricing-tabel__heading {
	flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin-left: 8.3333333333%;
    margin-bottom: 80px;
    padding-right: 0.78125rem;
    padding-left: 0.78125rem;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
}

.pricing-tabel__left {
	flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 40px;	
    background-color: #26303d;
}

.pricing-tabel__img-container {
	position: relative;
    display: block;
    height: 210px;
    margin-top: 50px;
}

.pricing-tabel__img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.pricing-tabel__right{
	flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    margin-left: 8.3333333333%;
    margin-top: 2%;
    padding-right: 0.78125rem;
    padding-left: 0.78125rem;
}

.pricing-tabel__right-heading{
	line-height: 2rem;
    letter-spacing: .03125rem;
    margin-bottom: 40px;
}

.pricing-tabel__ticket{
	display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.pricing-tabel__type, .pricing-tabel__price{
	font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: .03125rem;
}

.link {
	margin: 2rem 0;
	font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: .05rem;
    position: relative;
    display: inline-block;
    padding: 0.5rem 2.375rem 0.5rem 0;
    color: rgba(223, 92, 92);
    text-align: left;
    fill: rgba(223, 92, 92);
    outline: 0;
}

.fa-chevron-circle-right {
	position: absolute;
    top: 50%;
    right: 0;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.link:hover .fa-chevron-circle-right{
	transform: translate(10px,-50%);
}


.animals {
	display: flex;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

.img-right {
	display: block;
    position: absolute;
    z-index: 1;
    left: calc(50% - 75px);
    width: calc(50% + 75px);
    height: 100%;
}

.img-left {
	display: block;
    position: absolute;
    z-index: 2;
    bottom: -24px;
    left: 0;
    width: 36px;
    height: 400px;
}

.img-main {
	position: absolute;
    width: 50%;
    height: 100%;
}

.animals-detail-container {
	margin-right: 4.25rem;
    margin-left: 15.25rem;
    max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    z-index: 50;
}

.animals-detail-card {
	flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    margin-left: 68%;
    padding: 9.5rem 0;
    color: #fff
}

.animals-detail-title {
	line-height: 4.25rem;
    letter-spacing: .09375rem;
    font-size: calc(0.2268px + 3vw);
}

.animals-detail-content {
	margin-top: 1.5rem;
	font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: .0375rem;
}

.btn-animals-detail{
	margin-top: 2.25rem;
	font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: .05rem;
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 160px;
    padding: 1.0625rem 1.75rem;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    background-color: transparent;
    outline: 0;
    transition-property: color;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.btn-animals-detail:before {
	position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: -1;
    display: block;
    background-color: rgba(223, 92, 92);;
    transform-origin: left;
    transform: scaleX(0);
    content: "";
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.btn-animals-detail:hover {
	color: #fff;
	border-color: rgba(223, 92, 92);
}

.btn-animals-detail:hover:before {
	transform: scaleX(1);
	color: #fff;
}

.link-cards {
	padding-top: 2.5rem;
	margin-top: 160px;
	margin-bottom: 120px;
}

.link-cards__inner {
	max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
    margin-right: 4.25rem;
    margin-left: 4.25rem;
}

.link-cards__left {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 0.78125rem;
    padding-left: 0.78125rem;
}

.link-cards__heading {
    font-weight: 300;
    line-height: 4.25rem;
    letter-spacing: .09375rem;
    font-size: calc(4.2268px + 4.53608vw);
    padding-right: 1.5rem;
}

.link-cards__wrapper{
	margin-top: 5rem;
	position: relative;
}

.link-cards__link {
	display: block;
    width: 100%;
    text-align: left;
    color: #000;
}

.link-cards__img-wrapper {
	height: 460px;
	position: relative;
    width: 100%;
    overflow: hidden;
}

.link-cards__img {
	position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover;
    transform-origin: center;
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.link-cards__link:hover .link-cards__img{
	transform: scale(1.05) translateZ(0);
}

.link-cards__label {
	margin-top: 30px;
	font-weight: 500;
    line-height: 3.125rem;
    letter-spacing: .04375rem;
    font-size: calc(17.33333px + 1.38889vw);
    background-image: linear-gradient(180deg,transparent 90%,rgba(223, 92, 92) 0);
    background-position: 0 0;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition-property: background-size;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.link-cards__link:hover .link-cards__label{
	background-size: 100% 100%;
}

.link-cards__right {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    margin-left: 8.3333333333%;
    padding-right: 0.78125rem;
    padding-left: 0.78125rem;
}

.link-cards__wrapper2{
	margin-top: 0;
	position: relative;
}

.link-cards__img-wrapper2 {
	height: 600px;
	position: relative;
    width: 100%;
    overflow: hidden;
}

.footer-top{
	padding: 65px 0;
	position: relative;
    background-color: #109e6c;
}

.footer-top:before {
	background-size: 100% 60px;
    height: 60px;
    top: -40px;
	content: "";
    background-image: url(/ZooManagement/resources/images/background-footer-green.svg);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    position: absolute;
    transform: rotate(0);
}

.footer-top:after {
	background-size: 100% 60px;
    height: 60px;
    bottom: -40px;
    content: "";
    background-image: url(/ZooManagement/resources/images/background-footer-green.svg);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    position: absolute;
    transform: rotate(180deg);
}

.footer-bottom{
	width: 100%;
	height: 100px;
	background-color: #FDEBD3;
}

.footer-inner{
	margin-right: 4.25rem;
    margin-left: 4.25rem;
    max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.footer-title {
	color: #fff;
    font-size: 35px;
    margin-top: 1.25rem;
    margin-right: 2.5rem;
    text-align: left;
    position: relative;
}

.footer-list{
	margin-top: 0!important;
	align-items: baseline;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footer-item {
	margin-left: 0.75rem;
	margin-top: 1.25rem;
	position: relative;
}

.footer-link{
	background-color: #FDEBD3;
	font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .05rem;
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem 1.4375rem;
    color: #000;
    text-align: center;
    outline: 0;
    transition-property: color;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.footer-link:before {
	position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(223, 92, 92);
    transform-origin: left;
    transform: scaleX(0);
    content: "";
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.footer-link:hover {
	color: #fff;
}

.footer-link:hover:before {
	transform: scaleX(1);
	color: #fff;
}