.form-wrapper{
	max-width: 650px;
}

.payment, .purchase-details{
	border-bottom: #DDE0E5 solid 1px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.title-section {
	font-size: 24px !important;
    margin-bottom: 20px !important;
}

.form-input{
	margin-bottom: 24px;
	display: block;
}

.label {
	font-weight: 600;
    margin-bottom: 4px;
    color: #222222;
    display: block;
    font-size: 16px;
}

.input {
	width: 100%;
	border: 1px solid #DDE0E5;
    border-radius: 4px;
    padding: 13px 16px;
    background-color: #fff;
}

.flex-end{
	justify-content: flex-end !important;
}

.is-invalid{
	border-color: #eb1c26;
	
}