@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', sans-serif;
}

.navbar {
	background-color: #FDEBD3 !important;
	display: flex !important;
	justify-content: space-between !important;
	padding: 0 20px !important;
}

.navbar-nav {
	font-weight: 600 !important;
}

.nav-link {
	margin: 0 10px !important;
}

.img-container {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.text-container {
	background-color: #FDEBD3 !important;
	font-weight: 600;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	padding: 30px 100px;
}

.first-container {
	text-align: center;
	margin: 30px 0;
}

.step-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px;
}

.step-detail {
	margin: 0 50px;
}

.book-btn {
	text-decoration: none;
	background: rgba(223, 92, 92, 0.95);
	color: white;
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	offset: 0px, 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 12px 73px;
	margin-top: 30px;
}

.book-btn:hover {
	background: rgba(223, 92, 92);
}

.second-container {
	background-color: #FDEBD3 !important;
	padding: 30px;
}

.sub-container {
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	height: 70%;
}

.card-container {
	width: 49%;
	background: #fff;
	padding: 20px;
}

.img-card-container {
	height: 50%;
	margin-bottom: 20px;
}

.img-card {
	object-fit: cover;
	width: 100%;
	height: 100%;
}